.admin-widgetsm{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}
.admin-w-sm-title{
    font-size: 22px;
    font-weight: 600 ;
}
.admin-w-sm-list{
    margin: 0;
    padding: 0; 
    list-style: none;
}
.admin-w-sm-list-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}
.admin-w-sm-img{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    object-fit: cover;
}
.admin-w-sm-user{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.admin-w-sm-username{
    font-weight: 600;
}
.admin-w-sm-job{
    font-weight: 300;
}
.admin-w-sm-btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}
.admin-w-sm-icon{
    font-style: 16px !important;
    margin-right: 5px;
}