.privacy {
    background: url('https://images.shaadisaga.com/shaadisaga_production/photos/pictures/000/243/541/new_large/A12A3035.jpg?1520850919')
      no-repeat center/cover;
    height: 500px;
  }
  
  .privacy .privacy-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
    color: #fff;
  }

  p {
      font-size: 14px;
  }

  .privacy-policy {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 70px;
      padding-bottom: 100px;
  }