header {
    width: 100%;
    height: 70px;
  color: #000;
    background-color: #fff;
}

header .navbar {
    max-width: 1240px;
    height: 100%;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width:103px;
    margin-top: 9px; 
}

.hamburger {
    display: none;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-self: start;
    margin-bottom: 0px;
}

.nav-item {
    padding: 0 1.5rem;
}

.navbar-link {
    color: #000;
    font-size: 22px;
}

@media screen and (max-width:960px) {
    .hamburger {
        display: block;
        color:#fff
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: var(--darkgrey);
        width: 100%;
        height: fit-content;
        text-align: center;
        transition: 0.4s;
        padding-top: 220px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        padding: 10px;
        font-size: 1.8rem;
    }
    .navbar-link {
        color: #fff;
        font-size: 22px;
    }
    
}






