.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostDate{
    font-size: 16px;
    font-weight: 400;
}

.singlePostEdit{
    float: right;
    font-size: 20px;    
}

.singlePostTitle{
    padding-bottom: 10px;
    font-size: 50px;
}
.blog-author-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-author-content .blog-author-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.blog-author-content .blog-author-info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}


.singlePostWrapper .single-blog-top{
    display: flex;
    flex-direction: row-reverse;
    background-color: #eff3f2;
    padding: 16px 30px;
}
.singlePostWrapper .single-blog-top .single-blog-top-img{
    display: flex;
    width: 80%;
    height: 100%;
    padding: 1rem 32px 1rem 1rem;
    object-fit: fill;
    flex: 2;
}


.singlePostWrapper .single-blog-top .single-blog-top-content{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.singlePostImg{
    width: 100%;
    height: 361px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgb(40 40 74 / 20%) 0px 10px 15px -3px, rgb(0 0 0 / 50%) 0px 4px 6px -2px;
}

.singlePostDesc{
    color: #666;
    font-size: 20px;
    line-height: 25px;
    width:70%;
    margin:10px auto;
    margin-bottom: 30px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    min-width: 600px;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}


.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    color: #000;
}