* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .showcase-btn {
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid var(--primary);
    background-color: #5036e4;
    color: #fff;
    cursor: pointer;
  }
  
  .showcase {
    background: url('https://w0.peakpx.com/wallpaper/976/327/HD-wallpaper-wedding-decorations-party-lilies-of-the-valley-creative-vases-light-bulbs-with-water-flowers-in-camomiles-wedding-floral-decorations.jpg')
      no-repeat center/cover;
    height: 500px;
  }
  
  .showcase .showcase-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
    color: #fff;
  }
  
  .showcase .showcase-overlay h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  
 
  @media (min-width: 768px) {
    .showcase {
      background-position: top;
    }
  
    .showcase .showcase-overlay h1 {
      font-size: 50px;
    }
  
    .showcase .showcase-overlay p {
      font-size: 18px;
    }
  }