
.about-us {
 padding-bottom: 50px;
}

  .dark-text {
    color: var(--dark-text);
}
.normal-16, .bold-16, .light-16 {
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
h1, h2, h3, p {
    padding: 0;
    margin: 0;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


@media only screen and (max-width: 768px){
.a-container {
    padding-left: 16px;
    padding-right: 16px;
}


.about-us, .offer, .different, .values, .join {
    text-align: center;
}

}
.a-container, .guest-container {
    max-width: 800px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 50px;
}


div {
    display: block;
}
.about-us, .offer, .different, .values, .join {
    text-align: center;
}

  .about {
    background: url('https://i.pinimg.com/originals/91/4a/66/914a664f413f13066f271dc969d63cb7.jpg')
      no-repeat center/cover;
    height: 500px;
  }
  
  .about .about-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
    color: #fff;
  }
  
  .about .about-overlay h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  .margin-t-20 {
    margin-top: 20px;
}



.jguhHf {
    font-family: proxima-nova, sans-serif;
}

  @media (min-width: 768px) {
    .about {
      background-position: top;
    }
  
    .about .about-overlay h1 {
      font-size: 50px;
    }
  
    .about .about-overlay p {
      font-size: 18px;
    }
  

  }

  